@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.form {
  display: flex;
  flex-direction: column;

  @include tablet {
    font-size: 0.85rem;
    width: 31rem;
  }

  &__label {
    font-size: 0.625rem;
    font-weight: 600;
    color: colors.$black;
    opacity: 0.5;
    margin-bottom: 0.25rem;

    @include tablet {
      font-size: 0.85rem;
    }
  }

  &__input {
    width: 100%;
    border-radius: 4px;
    min-height: 2rem;
    border: 1px solid colors.$mercury;
    background-color: colors.$alabaster;
    padding: 0.75rem;
    margin-bottom: 1rem;

    &::placeholder {
      opacity: 1;
    }
  }

  &__button {
    font-size: 0.95rem;
    color: colors.$white;
    background-color: colors.$black;
    padding-block: 0.7rem;
    border-radius: 4px;

    @include tablet {
      width: 10rem;
      margin-left: auto;
    }
  }
}
