@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.hero {
  display: flex;
  align-items: center;

  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("../../assets/Images/hero-bio.jpg");

  background-size: cover;
  background-position: bottom;
  height: 70vh;

  &__title {
    color: colors.$white;
    margin-left: 3.5rem;

    @include tablet {
      font-size: 3rem;
    }
  }
}
